# Dependencies
node_modules/

# Environment variables
.env
.env.local
.env.*

# Build outputs
dist/
build/

# IDE files
.vscode/
.idea/
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Extension extras
extension/dist/
extension/node_modules/
